<div class="container">
  <section class="py-5">
    <div class="container p-0">
      <div class="row gy-3">
        <div class="col-lg-6">
          <h5 class="text-uppercase">{{ section.settings.nl_bold_text }}</h5>
          <p class="text-sm text-muted mb-0">{{ section.settings.nl_light_text }}</p>
        </div>
        <div class="col-lg-6">
          {% form 'customer' %}
            <div class="input-group">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input
                class="form-control form-control-lg"
                name="contact[email]"
                type="email"
                value="{{ form.email }}"
                placeholder="Enter your email address"
                aria-describedby="button-addon2"
              >
              <button class="btn btn-dark" id="button-addon2" type="submit">Subscribe</button>
            </div>
            {% if form.posted_successfully? %}
              <p class="text-muted">Thank you for subscribing!</p>
            {% endif %}
          {% endform %}
        </div>
      </div>
    </div>
  </section>
</div>

{% schema %}
{
  "name": "Newsletter Subscribe",
  "settings": [
    {
      "type": "text",
      "id": "nl_bold_text",
      "label": "Newsletter Bold Text"
    },
    {
      "type": "text",
      "id": "nl_light_text",
      "label": "Newsletter Light Text"
    }
  ],
  "presets": [
    {
      "name": "Newsletter Subscribe"
    }
  ]
}
{% endschema %}
